= render @article
  
hr
h3 Comments
div id="comments"
  =render @article.comments
  
= render :file => 'comments/new'

= link_to 'Edit', edit_article_path(@article)
'|
= link_to 'Back', articles_path
